@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap');


:root{
    --success-color:#1ABC9C;
    --error-color:#E74C3C;
}

*{
    box-sizing: border-box;
}
body{
    background-image: url("./image/login.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Open Sans " , sans-serif ;
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin:0;
}
.container{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px  rgba( 245, 203, 167);
    width: 400px;
}
h2{
    text-align: center;
    margin: 0 0 20px;
   
}
.form-control i{
    margin-right: 10px;
}
.form{
    padding: 30px 40px;
}
.form-control{
  
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}
.form-control label{
    display: block;
    color: #5D6D7E ;
    margin-bottom: 5px;
}
.form-control input{
    border:2px solid #f0f0f0;
    display: block;
    width: 100%;
    border-radius: 4px;
    padding:10px;
    font-size: 14px;
}
.form-control input:focus{
    outline: 0;
    border-color: #777;
}
.form-control.success input{
    border-color: var(--success-color);
}
.form-control.error input{
    border-color:var(--error-color);
}
.form-control small{
    color: var(--error-color);
padding: 5px;
    position: absolute;
    left: 0;
    visibility: hidden;
}
.form-control.error small{
    visibility: visible;
}
.form button{
    cursor: pointer;
    background-color: #3498db;
    border:  2px solid #3498db;
    border-radius: 4px;
    color: #fff;
    display: block;
    width: 100%;
    font-size: 16px;
    padding:10px;
    margin-top: 27px;
}